QTabWidget::tab{
background-color:#394867;
padding-left: 10;
line-height: 60;
color:white;
font: 9pt "Î¢ÈíÑÅºÚ";
height:30px;
}
QTabWidget::tab:selected{
line-height: 60;
padding-left: 10;
background-color: #a5a7a8;
border-top: 5px solid #F1F6F9;
color:white;
font: 9pt "Î¢ÈíÑÅºÚ";
height:30px;
}
QTabWidget::tab:hover:!selected{
line-height: 60;
padding-left: 10;
background-color: #9ba6ba;
border-top: 5px solid #F1F6F9;
color:white;
font: 9pt "Î¢ÈíÑÅºÚ";
height:30px;
}
